<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="catel">
      <section name="ioc" type="Catel.IoC.IoCConfigurationSection, Catel.Core" />
      <section name="logging" type="Catel.Logging.LoggingConfigurationSection, Catel.Core" />
    </sectionGroup>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <catel>
    <ioc>
      <serviceLocatorConfigurations>
        <serviceLocatorConfiguration>
          <register interfaceType="Catel.MVVM.Services.IUIVisualizerService, Catel.MVVM" implementationType="Catel.MVVM.Services.UIVisualizerService, Catel.MVVM" registrationType="Transient" />
          <register interfaceType="Catel.MVVM.Services.IProcessService, Catel.MVVM" implementationType="Catel.MVVM.Services.ProcessService, Catel.MVVM" />
        </serviceLocatorConfiguration>
        <serviceLocatorConfiguration name="test" supportDependencyInjection="false">
          <register interfaceType="Catel.MVVM.Services.IUIVisualizerService, Catel.MVVM" implementationType="Catel.MVVM.Services.Test.UIVisualizerService, Catel.MVVM" registrationType="Transient" />
          <register interfaceType="Catel.MVVM.Services.IProcessService, Catel.MVVM" implementationType="Catel.MVVM.Services.Test.ProcessService, Catel.MVVM" />
        </serviceLocatorConfiguration>
      </serviceLocatorConfigurations>
    </ioc>

    <logging>
      <listeners>
        <listener type="Catel.Logging.FileLogListener" FilePath="CatelLogging.txt" IgnoreCatelLogging="true" IsDebugEnabled="false" IsInfoEnabled="true" IsWarningEnabled="true" IsErrorEnabled="true" />
      </listeners>
    </logging>
  </catel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <connectionStrings>
    <add name="TestDbContextContainer" connectionString="metadata=res://*/TestDbContext.csdl|res://*/TestDbContext.ssdl|res://*/TestDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=CatelUnitTestDbContext;Integrated Security=true&quot;" providerName="System.Data.EntityClient" />
    <add name="TestObjectContextContainer" connectionString="metadata=res://*/TestObjectContext.csdl|res://*/TestObjectContext.ssdl|res://*/TestObjectContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=CatelUnitTestObjectContext;Integrated Security=true&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>