<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.4.0-unstable0001" targetFramework="net40" developmentDependency="true" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" />
  <package id="Fody" version="1.26.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net40" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>