<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Using a custom control | Catel Documentation </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="Using a custom control | Catel Documentation ">
      
      
      <link rel="icon" href="../../../../../favicon.ico">
      <link rel="stylesheet" href="../../../../../public/docfx.min.css">
      <link rel="stylesheet" href="../../../../../public/main.css">
      <meta name="docfx:navrel" content="../../../../../toc.html">
      <meta name="docfx:tocrel" content="../../../../toc.html">
      
      <meta name="docfx:rel" content="../../../../../">
      
      
      <meta name="docfx:docurl" content="https://github.com/catel/catel/blob/develop/doc/docfx/vnext/catel-mvvm/views/xaml/external-controls/using-custom-control.md/#L1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../../../../../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../../../../../index.html">
            <img id="logo" class="svg" src="../../../../../logo.svg" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="Search" autocomplete="off" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">


<p>In this part of the documentation, the <code>RadTabItem</code> of Telerik will be used as an example on how to create a <code>RadTabItem</code> that behaves like the <code>UserControl</code>.</p>
<h2 id="creating-the-base-class-with-behavior">Creating the base class with behavior</h2>
<p>The first thing to do is to create a new base class that accepts a view model type argument. In this example, we will call it <code>TabItem</code> (to make it as &quot;external control company independent&quot; as possible). Below is the code for the control definition. The downside of xaml based applications is that you cannot derive from controls or windows that have a partial class defined in xaml. Therefore, all controls and code must be initialized via code as you can see in the code below.</p>
<pre><code>/// &lt;summary&gt;
/// Base class for a control with the Catel mvvm behavior.
/// &lt;/summary&gt;
public class TabItem : RadTabItem, IUserControl
{
   private readonly UserControlLogic _logic;

   private event EventHandler&lt;EventArgs&gt; _viewLoaded;
   private event EventHandler&lt;EventArgs&gt; _viewUnloaded;
   private event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; _viewDataContextChanged;

   /// &lt;summary&gt;
   /// Initializes a new instance of the &lt;see cref=&quot;TabItem&quot;/&gt; class.
   /// &lt;/summary&gt;
   public TabItem()
   {
      _logic = new UserControlLogic(this, viewModelType);
      _logic.PropertyChanged += (sender, e) =&gt; PropertyChanged.SafeInvoke(this, e);

      Loaded += (sender, e) =&gt; _viewLoaded.SafeInvoke(this);
      Unloaded += (sender, e) =&gt; _viewUnloaded.SafeInvoke(this);
      this.AddDataContextChangedHandler((sender, e) =&gt; _viewDataContextChanged.SafeInvoke(this, new Catel.MVVM.Views.DataContextChangedEventArgs(e.OldValue, e.NewValue)));

      SetBinding(RadTabItem.HeaderProperty, new Binding(&quot;Title&quot;));
   }

   /// &lt;summary&gt;
   /// Gets the view model that is contained by the container.
   /// &lt;/summary&gt;
   /// &lt;value&gt;The view model.&lt;/value&gt;
   public IViewModel ViewModel
   {
      get { return _logic.ViewModel; }
   }

   /// &lt;summary&gt;
   /// Occurs when a property on the container has changed.
   /// &lt;/summary&gt;
   /// &lt;remarks&gt;
   /// This event makes it possible to externally subscribe to property changes of a &lt;see cref=&quot;DependencyObject&quot;/&gt;
   /// (mostly the container of a view model) because the .NET Framework does not allows us to.
   /// &lt;/remarks&gt;
   public event PropertyChangedEventHandler PropertyChanged;    

    /// &lt;summary&gt;
    /// Occurs when the view is loaded.
    /// &lt;/summary&gt;
    event EventHandler&lt;EventArgs&gt; IView.Loaded
    {
        add { _viewLoaded += value; }
        remove { _viewLoaded -= value; }
    }

    /// &lt;summary&gt;
    /// Occurs when the view is unloaded.
    /// &lt;/summary&gt;
    event EventHandler&lt;EventArgs&gt; IView.Unloaded
    {
        add { _viewUnloaded += value; }
        remove { _viewUnloaded -= value; }
    }

    /// &lt;summary&gt;
    /// Occurs when the data context has changed.
    /// &lt;/summary&gt;
    event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; IView.DataContextChanged
    {
        add { _viewDataContextChanged += value; }
        remove { _viewDataContextChanged -= value; }
    }
}
</code></pre>
<p>You would expect an abstract class here, but the designers (both Visual Studio and Expression Blend) can't handle abstract base classes</p>
<h2 id="using-the-class">Using the class</h2>
<p>The class can now be used the same as the <code>UserControl</code> class. For more information, see [UserControl explained]({{&lt; relref &quot;catel-mvvm/views/xaml/usercontrol.md&quot; &gt;}}).</p>

</article>

        <div class="contribution d-print-none">
          <a href="https://github.com/catel/catel/blob/develop/doc/docfx/vnext/catel-mvvm/views/xaml/external-controls/using-custom-control.md/#L1" class="edit-link">Edit this page</a>
        </div>

        <div class="next-article d-print-none border-top" id="nextArticle"></div>

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    <div class="container-xxl search-results" id="search-results"></div>

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          Catel is an application development platform with the focus on MVVM.
        </div>
      </div>
    </footer>
  </body>
</html>
