<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.8.0-unstable0013" targetFramework="win81" developmentDependency="true" />
  <package id="Fody" version="1.29.0" targetFramework="win81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="win81" />
  <package id="Obsolete.Fody" version="4.0.0" targetFramework="win81" developmentDependency="true" />
</packages>