<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.5.30" targetFramework="sl50" />
  <package id="CSLA-Silverlight" version="4.5.30" targetFramework="sl50" />
  <package id="Fody" version="1.17.4.0" targetFramework="sl50" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Build" version="1.0.5" targetFramework="sl50" />
  <package id="ModuleInit.Fody" version="1.5.3" targetFramework="sl50" />
  <package id="Obsolete.Fody" version="2.3.0" targetFramework="sl50" />
</packages>