<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Core" version="4.5.10" targetFramework="sl50" />
  <package id="CSLA-Silverlight" version="4.5.10" targetFramework="sl50" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" targetFramework="sl50" />
  <package id="ModuleInit.Fody" version="1.3.1.0" targetFramework="sl50" />
  <package id="Obsolete.Fody" version="1.5.1.0" targetFramework="sl50" />
</packages>