<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="sl50" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="sl50" />
  <package id="Fody" version="1.22.1" targetFramework="sl50" developmentDependency="true" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="sl50" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="sl50" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="sl50" developmentDependency="true" />
  <package id="Prism" version="4.1.0.0" />
</packages>