<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.4.0-unstable0001" targetFramework="MonoTouch10" developmentDependency="true" />
  <package id="Fody" version="1.26.1" targetFramework="MonoTouch10" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="MonoTouch10" developmentDependency="true" />
</packages>