<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.4.0-unstable0001" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.26.2" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>