<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>UserControl Resources | Catel Documentation </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="UserControl Resources | Catel Documentation ">
      
      
      <link rel="icon" href="../../../../favicon.ico">
      <link rel="stylesheet" href="../../../../public/docfx.min.css">
      <link rel="stylesheet" href="../../../../public/main.css">
      <meta name="docfx:navrel" content="../../../../toc.html">
      <meta name="docfx:tocrel" content="../../../toc.html">
      
      <meta name="docfx:rel" content="../../../../">
      
      
      <meta name="docfx:docurl" content="https://github.com/catel/catel/blob/develop/doc/docfx/vnext/catel-mvvm/views/xaml/usercontrol-resources.md/#L1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../../../../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../../../../index.html">
            <img id="logo" class="svg" src="../../../../logo.svg" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="Search" autocomplete="off" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">


<p>For the most part the resources declared within a Catel <code>UserControl</code> behave the exact same as resources defined in the standard
<code>UserControl</code>. However because of the way the Catel <code>UserControl</code> operates (see [UserControl Under the hood]({{&lt; relref &quot;catel-mvvm/views/xaml/advanced/usercontrol-under-the-hood.md&quot; &gt;}})) any bindings performed inside a Resource will not be found at runtime (example CollectionViewSource Source) .  The solution is to declare the resource inside an element within the UserControl, not at the UserControl level.  Example below:</p>
<p>Given this simple Model and ViewModel (Catel.Fody used for parameter declaration)</p>
<pre><code>    public class DataSource : ModelBase
    {
        public int Id { get; set; }
        public string URI { get; set; }
        public string DataSourceType { get; set; }
        public string Description { get; set; }
        public string ShortURI
        {
            get
            {
                if (string.IsNullOrEmpty(URI)) return null;
                Uri uri = new System.Uri(URI);
                if (uri.IsFile)
                {
                    return System.IO.Path.GetFileName(uri.LocalPath);
                }
                return URI;
            }
        }
    }

    public class DocumentViewModel : ViewModelBase
    {
        public DocumentViewModel(ICommandManager commandManager)
        {           
            ProjectDataSources = new FastObservableCollection&lt;DataSource&gt;();
            ProjectDataSources.Add(new DataSource() { Id = 1, URI = &quot;file:///D:/src/TAnaylze/Data/DataSources/dnd-viewerPolygon_AoI-Intergranular_porosity.json&quot;, DataSourceType = &quot;tmapdd&quot;, Description = &quot;From TMap DragDrop&quot; });
            ProjectDataSources.Add(new DataSource() { Id = 2, URI = &quot;file:///D:/src/TAnaylze/Data/DataSources/dnd-viewerPolygon_AoI-Intergranular_porosity.json&quot;, DataSourceType = &quot;tmapdd&quot; });
            ProjectDataSources.Add(new DataSource() { Id = 3, URI = &quot;file:///D:/src/TAnaylze/Data/DataSources/Project X.tdb&quot;, DataSourceType = &quot;tdb&quot;, Description = &quot;Project X.tdb&quot; });
            ProjectDataSources.Add(new DataSource() { Id = 4, URI = &quot;file:///D:/src/TAnaylze/Data/DataSources/TMap Workshop.tmap&quot;, DataSourceType = &quot;tmap&quot;, Description = &quot;TMap Workshop.tmap&quot; });
        }
        public FastObservableCollection&lt;DataSource&gt; ProjectDataSources { get; set; }

    }
</code></pre>
<p>and this View:</p>
<p><strong>View</strong></p>
<pre><code>&lt;catel:UserControl x:Class=&quot;Catel.Examples.WPF.Commanding.Views.DocumentView&quot;
                   xmlns=&quot;http://schemas.microsoft.com/winfx/2006/xaml/presentation&quot;
                   xmlns:x=&quot;http://schemas.microsoft.com/winfx/2006/xaml&quot;
                   xmlns:sys=&quot;clr-namespace:System;assembly=mscorlib&quot;
                   xmlns:catel=&quot;http://schemas.catelproject.com&quot;&gt;
    &lt;catel:UserControl.Resources&gt;
        &lt;ResourceDictionary&gt;
            &lt;!-- The Resource ListViewTitle will be found at run time --&gt;
            &lt;sys:String x:Key=&quot;ListViewTitle&quot;&gt;Items:&lt;/sys:String&gt;
            &lt;!-- The Resource DataSourceGroup will be found but the binding will not work. --&gt;
            &lt;CollectionViewSource x:Key=&quot;DataSourceGroup&quot;                               
                      Source=&quot;{Binding ProjectDataSources}&quot; IsLiveSortingRequested=&quot;True&quot; IsLiveGroupingRequested=&quot;True&quot;&gt;
                &lt;CollectionViewSource.GroupDescriptions&gt;
                    &lt;PropertyGroupDescription PropertyName=&quot;DataSourceType&quot; /&gt;
                &lt;/CollectionViewSource.GroupDescriptions&gt;
            &lt;/CollectionViewSource&gt;
        &lt;/ResourceDictionary&gt;
    &lt;/catel:UserControl.Resources&gt;
    &lt;Grid&gt;
        &lt;Grid.ColumnDefinitions&gt;
            &lt;ColumnDefinition Width=&quot;*&quot; /&gt;
            &lt;ColumnDefinition Width=&quot;5&quot; /&gt;
            &lt;ColumnDefinition Width=&quot;*&quot; /&gt;
        &lt;/Grid.ColumnDefinitions&gt;

        &lt;ScrollViewer Grid.Column=&quot;0&quot;&gt;
            &lt;StackPanel&gt;
                &lt;StackPanel.Resources&gt;

                &lt;/StackPanel.Resources&gt;

                &lt;Label Foreground=&quot;Blue&quot; Margin=&quot;5,5,5,0&quot; Content=&quot;{StaticResource ListViewTitle}&quot;&gt;&lt;/Label&gt;
                &lt;ListView Name=&quot;_datasourcelv1&quot; ItemsSource=&quot;{Binding Source={StaticResource DataSourceGroup}}&quot;&gt;

                    &lt;ListView.View&gt;
                        &lt;GridView&gt;
                            &lt;GridViewColumn Header=&quot;Name&quot; Width=&quot;120&quot; DisplayMemberBinding=&quot;{Binding ShortURI}&quot; /&gt;
                            &lt;GridViewColumn Header=&quot;Type&quot; Width=&quot;50&quot; DisplayMemberBinding=&quot;{Binding DataSourceType}&quot; /&gt;
                        &lt;/GridView&gt;
                    &lt;/ListView.View&gt;

                    &lt;ListView.GroupStyle&gt;
                        &lt;GroupStyle&gt;
                            &lt;GroupStyle.HeaderTemplate&gt;
                                &lt;DataTemplate&gt;
                                    &lt;TextBlock Text=&quot;{Binding Name}&quot;/&gt;
                                &lt;/DataTemplate&gt;
                            &lt;/GroupStyle.HeaderTemplate&gt;
                        &lt;/GroupStyle&gt;
                    &lt;/ListView.GroupStyle&gt;
                &lt;/ListView&gt;
            &lt;/StackPanel&gt;
        &lt;/ScrollViewer&gt;
        &lt;GridSplitter Grid.Column=&quot;1&quot; Width=&quot;5&quot; HorizontalAlignment=&quot;Stretch&quot; /&gt;
        &lt;ScrollViewer Grid.Column=&quot;2&quot;&gt;

            &lt;StackPanel&gt;
                &lt;StackPanel.Resources&gt;
                    &lt;!-- The solution is to embed the resource inside the UserControl, this way the binding is within the runtime Visual Tree. --&gt;
                    &lt;CollectionViewSource x:Key=&quot;DataSourceGroup2&quot;                               
                      Source=&quot;{Binding ProjectDataSources}&quot; IsLiveSortingRequested=&quot;True&quot; IsLiveGroupingRequested=&quot;True&quot;&gt;
                        &lt;CollectionViewSource.GroupDescriptions&gt;
                            &lt;PropertyGroupDescription PropertyName=&quot;DataSourceType&quot; /&gt;
                        &lt;/CollectionViewSource.GroupDescriptions&gt;
                    &lt;/CollectionViewSource&gt;
                &lt;/StackPanel.Resources&gt;

                &lt;Label Foreground=&quot;Blue&quot; Margin=&quot;5,5,5,0&quot; Content=&quot;{StaticResource ListViewTitle}&quot;&gt;&lt;/Label&gt;
                &lt;ListView Name=&quot;_datasourcelv2&quot; ItemsSource=&quot;{Binding Source={StaticResource DataSourceGroup2}}&quot;&gt;

                    &lt;ListView.View&gt;
                        &lt;GridView&gt;
                            &lt;GridViewColumn Header=&quot;Name&quot; Width=&quot;120&quot; DisplayMemberBinding=&quot;{Binding ShortURI}&quot; /&gt;
                            &lt;GridViewColumn Header=&quot;Type&quot; Width=&quot;50&quot; DisplayMemberBinding=&quot;{Binding DataSourceType}&quot; /&gt;
                        &lt;/GridView&gt;
                    &lt;/ListView.View&gt;

                    &lt;ListView.GroupStyle&gt;
                        &lt;GroupStyle&gt;
                            &lt;GroupStyle.HeaderTemplate&gt;
                                &lt;DataTemplate&gt;
                                    &lt;TextBlock Text=&quot;{Binding Name}&quot;/&gt;
                                &lt;/DataTemplate&gt;
                            &lt;/GroupStyle.HeaderTemplate&gt;
                        &lt;/GroupStyle&gt;
                    &lt;/ListView.GroupStyle&gt;
                &lt;/ListView&gt;
            &lt;/StackPanel&gt;
        &lt;/ScrollViewer&gt;        
    &lt;/Grid&gt;
&lt;/catel:UserControl&gt;
</code></pre>
<p>Will produce this at runtime:</p>
<p><img src="../../../images/catel-mvvm/views/xaml/usercontrol-resources/example.png" alt=""></p>
<p>The ListView on the left is not populated because the binding is not found and will produce this error:</p>
<pre><code>System.Windows.Data Error: 40 : BindingExpression path error: 'ProjectDataSources' property not found on 'object' ''MainWindowViewModel' (HashCode=-1500006600)'. BindingExpression:Path=ProjectDataSources; DataItem='MainWindowViewModel' (HashCode=-1500006600); target element is 'CollectionViewSource' (HashCode=5965360); target property is 'Source' (type 'Object')
</code></pre>
<p>While the ListView on the right has the correct content due to the proper binding.  Further discussion on <a href="http://stackoverflow.com/questions/31488173/binding-from-within-a-resourcedictionary-in-a-catel-wpf-usercontrol">Stack Overflow</a>.</p>

</article>

        <div class="contribution d-print-none">
          <a href="https://github.com/catel/catel/blob/develop/doc/docfx/vnext/catel-mvvm/views/xaml/usercontrol-resources.md/#L1" class="edit-link">Edit this page</a>
        </div>

        <div class="next-article d-print-none border-top" id="nextArticle"></div>

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    <div class="container-xxl search-results" id="search-results"></div>

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          Catel is an application development platform with the focus on MVVM.
        </div>
      </div>
    </footer>
  </body>
</html>
