<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net45" developmentDependency="true" />
  <package id="Catel.Fody" version="2.14.0" targetFramework="net45" developmentDependency="true" />
  <package id="FluentValidation" version="5.6.2" targetFramework="net45" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.9.0" targetFramework="net45" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="WpfAnalyzers" version="0.2.4.0-dev" targetFramework="net45" developmentDependency="true" />
</packages>