<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.13.8.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.4.2.0" targetFramework="net45" />
  <package id="Obsolete.Fody" version="1.6.2.0" targetFramework="net45" />
</packages>