<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.3.0-unstable0032" targetFramework="sl50" developmentDependency="true" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Fody" version="1.22.1" targetFramework="sl50" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="sl50" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="sl50" developmentDependency="true" />
  <package id="Prism" version="4.1.0.0" targetFramework="sl50" />
</packages>