<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Activities (pages) | Catel Documentation </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="Activities (pages) | Catel Documentation ">
      
      
      <link rel="icon" href="../../../../favicon.ico">
      <link rel="stylesheet" href="../../../../public/docfx.min.css">
      <link rel="stylesheet" href="../../../../public/main.css">
      <meta name="docfx:navrel" content="../../../../toc.html">
      <meta name="docfx:tocrel" content="../../../toc.html">
      
      <meta name="docfx:rel" content="../../../../">
      
      
      <meta name="docfx:docurl" content="https://github.com/catel/catel/blob/develop/doc/docfx/6.x/catel-mvvm/views/xamarin-android/activities-pages.md/#L1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../../../../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../../../../index.html">
            <img id="logo" class="svg" src="../../../../logo.svg" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="Search" autocomplete="off" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">


<p>The user controls in Android are called fragments. This means that if a user control must be created, it must derive from theÂ <code>Fragment</code>Â class. Catel provides a base implementation of this class to ensure full compatibility with the MVVM framework that ships with Catel.</p>
<h2 id="creating-the-view-model">Creating the view model</h2>
<p>The view model can be created (or added as a linked file from another project) just like any platform using Catel (they are all equal on all platforms).</p>
<h2 id="creating-the-view">Creating the view</h2>
<p>Make sure that aÂ <code>Views</code>Â folder exists in the project so the views and view models can automatically be hooked together by Catel. Then create a new class to the views folder, in this caseÂ <code>MainActivity</code>:</p>
<pre><code>[Activity(MainLauncher = true)]
public class MainActivity : Catel.Android.App.Activity
{
    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);

        // Set our view from the &quot;main&quot; layout resource
        SetContentView(Resource.Layout.Page_Main);
    }
}
</code></pre>
<p>Note that the class derives from <em>Catel.Android.App.Activity</em></p>
<h2 id="designing-the-view">Designing the view</h2>
<p>To create the actual user interface of the fragment, add a newÂ <code>xaml</code>Â file to theÂ <code>Resources/layout</code>Â folder, in your caseÂ <code>Page\_Main</code>Â (but you can name it whatever you want). Then use the following source:</p>
<pre><code>&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;LinearLayout xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;
    android:orientation=&quot;vertical&quot;
    android:layout_width=&quot;fill_parent&quot;
    android:layout_height=&quot;fill_parent&quot;&gt;
    &lt;Button
        android:id=&quot;@+id/MyButton&quot;
        android:layout_width=&quot;fill_parent&quot;
        android:layout_height=&quot;wrap_content&quot;
        android:text=&quot;@string/Hello&quot; /&gt;
&lt;/LinearLayout&gt;
</code></pre>
<h2 id="setting-up-synchronization">Setting up synchronization</h2>
<p>In Android it is required to manually synchronize the values between the view and view model. Below is the fully extended <code>MainActivity</code> class containing these mapping functionality:</p>
<pre><code>[Activity(MainLauncher = true)]
public class MainActivity : Catel.Android.App.Activity
{
    private Button _testButton;

    protected override void OnCreate(Bundle bundle)
    {
        base.OnCreate(bundle);

        // Set our view from the &quot;main&quot; layout resource
        SetContentView(Resource.Layout.Page_Main);

        // Note: at this stage the visual tree is guaranteed in Android
        _testButton = FindViewById&lt;Button&gt;(Resource.Id.MyButton);
        _testButton.Click += delegate { GetViewModel&lt;MainViewModel&gt;().RunCommand.Execute(); };
    }

    protected override void SyncViewModel()
    {
        var vm = GetViewModel&lt;MainViewModel&gt;();
        if (vm == null)
        {
            return;
        }

        Title = vm.Title;
        _testButton.Text = string.Format(&quot;{0} clicks!&quot;, vm.Counter);
    }
}
</code></pre>

</article>

        <div class="contribution d-print-none">
          <a href="https://github.com/catel/catel/blob/develop/doc/docfx/6.x/catel-mvvm/views/xamarin-android/activities-pages.md/#L1" class="edit-link">Edit this page</a>
        </div>

        <div class="next-article d-print-none border-top" id="nextArticle"></div>

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    <div class="container-xxl search-results" id="search-results"></div>

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          Catel is an application development platform with the focus on MVVM.
        </div>
      </div>
    </footer>
  </body>
</html>
