<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Catel.Core\Catel.Core.NET40\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.NET45\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.SL4\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.SL5\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WinRT\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WP7\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WP8\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.SL4\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WinRT\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WP7\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WP8\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.SL4\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WinRT\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WP7\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WP8\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.SL4\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.SL5\packages.config" />
  <repository path="..\src\Catel.Mvc\Catel.Mvc.NET40\packages.config" />
  <repository path="..\src\Catel.Mvc\Catel.Mvc.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET40\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.SL4\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.SL5\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WinRT\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP7.Services.Compass\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP7.Services.Gyroscope\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP7\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP8\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL4.Web\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL4\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL5.Web\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL5\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.WinRT\packages.config" />
</repositories>