<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Catel.Core\Catel.Core.NET40\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.NET45\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.NET46\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.PCL\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.Xamarin.Android\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.Xamarin.iOS\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.PCL\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.PCL\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework\Catel.Extensions.EntityFramework6\Catel.Extensions.EntityFramework6.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework\Catel.Extensions.EntityFramework6\Catel.Extensions.EntityFramework6.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Interception\Catel.Extensions.Interception.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Interception\Catel.Extensions.Interception.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.PCL\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism5\Catel.Extensions.Prism5.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism6\Catel.Extensions.Prism6.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET40\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.Xamarin.Android\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.Xamarin.iOS\packages.config" />
  <repository path="..\src\Catel.Serialization.Json\Catel.Serialization.Json.NET40\packages.config" />
  <repository path="..\src\Catel.Serialization.Json\Catel.Serialization.Json.NET45\packages.config" />
  <repository path="..\src\Catel.Serialization.Json\Catel.Serialization.Json.PCL\packages.config" />
  <repository path="..\src\Catel.Serialization.Json\Catel.Serialization.Json.Xamarin.Android\packages.config" />
  <repository path="..\src\Catel.Serialization.Json\Catel.Serialization.Json.Xamarin.iOS\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET45\packages.config" />
</repositories>