<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Catel.Core\Catel.Core.NET40\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.NET45\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.PCL\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.SL5\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WIN80\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WIN81\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WP8\packages.config" />
  <repository path="..\src\Catel.Core\Catel.Core.WP80\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WIN80\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WIN81\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WP8\packages.config" />
  <repository path="..\src\Catel.Extensions.Controls\Catel.Extensions.Controls.WP80\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.CSLA\Catel.Extensions.CSLA.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WIN80\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WIN81\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WP8\packages.config" />
  <repository path="..\src\Catel.Extensions.Data\Catel.Extensions.Data.WP80\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.WIN80\packages.config" />
  <repository path="..\src\Catel.Extensions.DynamicObjects\Catel.Extensions.DynamicObjects.WIN81\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework5\Catel.Extensions.EntityFramework5.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework6\Catel.Extensions.EntityFramework6.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.EntityFramework6\Catel.Extensions.EntityFramework6.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.FluentValidation\Catel.Extensions.FluentValidation.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Interception\Catel.Extensions.Interception.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Interception\Catel.Extensions.Interception.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.WIN80\packages.config" />
  <repository path="..\src\Catel.Extensions.Memento\Catel.Extensions.Memento.WIN81\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.NET45\packages.config" />
  <repository path="..\src\Catel.Extensions.Prism\Catel.Extensions.Prism.SL5\packages.config" />
  <repository path="..\src\Catel.Extensions.Wcf.Server\Catel.Extensions.Wcf.Server.NET40\packages.config" />
  <repository path="..\src\Catel.Extensions.Wcf.Server\Catel.Extensions.Wcf.Server.NET45\packages.config" />
  <repository path="..\src\Catel.Mvc\Catel.Mvc.NET40\packages.config" />
  <repository path="..\src\Catel.Mvc\Catel.Mvc.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET40\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.NET45\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.SL5\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WIN80\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WIN81\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP8\packages.config" />
  <repository path="..\src\Catel.MVVM\Catel.MVVM.WP80\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.DbContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.EntityFramework5.ObjectContextTest.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET40\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.NET45\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL5.Web\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.SL5\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.WIN80\packages.config" />
  <repository path="..\src\Catel.Test\Catel.Test.WIN81\packages.config" />
</repositories>