<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.4.0-unstable0001" targetFramework="sl50" developmentDependency="true" />
  <package id="Fody" version="1.26.1" targetFramework="sl50" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="sl50" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="sl50" developmentDependency="true" />
</packages>