<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.10.0" targetFramework="net4" developmentDependency="true" />
  <package id="Fody" version="1.29.3" targetFramework="net4" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="ModuleInit.Fody" version="1.5.8.0" targetFramework="net4" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.0.3" targetFramework="net4" developmentDependency="true" />
</packages>