<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.3.0-unstable0032" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.22.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>