<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Using a custom window | Catel Documentation </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="Using a custom window | Catel Documentation ">
      
      
      <link rel="icon" href="../../../../../favicon.ico">
      <link rel="stylesheet" href="../../../../../public/docfx.min.css">
      <link rel="stylesheet" href="../../../../../public/main.css">
      <meta name="docfx:navrel" content="../../../../../toc.html">
      <meta name="docfx:tocrel" content="../../../../toc.html">
      
      <meta name="docfx:rel" content="../../../../../">
      
      
      <meta name="docfx:docurl" content="https://github.com/catel/catel/blob/develop/doc/docfx/7.x/catel-mvvm/views/xaml/external-controls/using-custom-window.md/#L1">
      <meta name="loc:inThisArticle" content="In this article">
      <meta name="loc:searchResultsCount" content="{count} results for &quot;{query}&quot;">
      <meta name="loc:searchNoResults" content="No results for &quot;{query}&quot;">
      <meta name="loc:tocFilter" content="Filter by title">
      <meta name="loc:nextArticle" content="Next">
      <meta name="loc:prevArticle" content="Previous">
      <meta name="loc:themeLight" content="Light">
      <meta name="loc:themeDark" content="Dark">
      <meta name="loc:themeAuto" content="Auto">
      <meta name="loc:changeTheme" content="Change theme">
      <meta name="loc:copy" content="Copy">
      <meta name="loc:downloadPdf" content="Download PDF">

      <script type="module" src="./../../../../../public/docfx.min.js"></script>

      <script>
        const theme = localStorage.getItem('theme') || 'auto'
        document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
      </script>

  </head>

  <body class="tex2jax_ignore" data-layout="" data-yaml-mime="">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="../../../../../index.html">
            <img id="logo" class="svg" src="../../../../../logo.svg" alt="">
            
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="Search" autocomplete="off" aria-label="Search">
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas" aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="">


<p>In this part of the documentation, the <code>RadWindow</code> of Telerik will be used as an example on how to create a <code>WindowBase</code> that behaves like the <code>DataWindow</code>.</p>
<h2 id="creating-the-base-class-with-behavior">Creating the base class with behavior</h2>
<p>The first thing to do is to create a new base class that accepts a view model type argument. In this example, we will call it <code>WindowBase</code> (to make it as &quot;external control company independent&quot; as possible). Below is the code for the window definition. The downside of xaml based applications is that you cannot derive from controls or windows that have a partial class defined in xaml. Therefore, all controls and code must be initialized via code as shown, in the code below.</p>
<p>Because the <code>RadWindow</code> of Telerik does not close the window when the <code>DialogResult</code> is set, this window subscribes to the <code>ViewModelClosed</code> event to close the window</p>
<pre><code>/// &lt;summary&gt;
/// Base class for a window with the Catel mvvm behavior.
/// &lt;/summary&gt;
public class Window : RadWindow, IDataWindow
{
    private readonly WindowLogic _logic;

    private event EventHandler&lt;EventArgs&gt; _viewLoaded;
    private event EventHandler&lt;EventArgs&gt; _viewUnloaded;
    private event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; _viewDataContextChanged;

    public Window()
        : this(null)
    {

    }
    public Window(IViewModel viewModel)
    {
        _logic = new WindowLogic(this, null, viewModel);
        _logic.ViewModelChanged += (sender, e) =&gt; ViewModelChanged.SafeInvoke(this, e);
        _logic.PropertyChanged += (sender, e) =&gt; PropertyChanged.SafeInvoke(this, e);

        Loaded += (sender, e) =&gt; _viewLoaded.SafeInvoke(this);
        Unloaded += (sender, e) =&gt; _viewUnloaded.SafeInvoke(this);
        this.AddDataContextChangedHandler((sender, e) =&gt; _viewDataContextChanged.SafeInvoke(this, new Catel.MVVM.Views.DataContextChangedEventArgs(e.OldValue, e.NewValue)));

        // Because the RadWindow does not close when DialogResult is set, the following code is required
        ViewModelChanged += (sender, e) =&gt; OnViewModelChanged();

        // Call manually the first time (for injected view models)
        OnViewModelChanged();

        WindowStartupLocation = WindowStartupLocation.CenterScreen;
        SetBinding(RadWindow.HeaderProperty, new Binding(&quot;Title&quot;));
    }

    public IViewModel ViewModel
    {
        get { return _logic.ViewModel; }
    }

    public event PropertyChangedEventHandler PropertyChanged;

    public event EventHandler&lt;EventArgs&gt; ViewModelChanged;

    event EventHandler&lt;EventArgs&gt; IView.Loaded
    {
        add { _viewLoaded += value; }
        remove { _viewLoaded -= value; }
    }

    event EventHandler&lt;EventArgs&gt; IView.Unloaded
    {
        add { _viewUnloaded += value; }
        remove { _viewUnloaded -= value; }
    }

    event EventHandler&lt;Catel.MVVM.Views.DataContextChangedEventArgs&gt; IView.DataContextChanged
    {
        add { _viewDataContextChanged += value; }
        remove { _viewDataContextChanged -= value; }
    }

    private void OnViewModelChanged()
    {
        if (ViewModel != null &amp;&amp; !ViewModel.IsClosed)
        {
            ViewModel.Closed += ViewModelClosed;
        }
    }

    private void ViewModelClosed(object sender, ViewModelClosedEventArgs e)
    {
        Close();
    }
}
</code></pre>
<p>You would expect an abstract class here, but the designers (both Visual Studio and Expression Blend) cannot handle abstract base classes</p>
<h2 id="handling-close-event">Handling Close Event</h2>
<p>Since the latest upgrade to Catel 5.x, the [UIVisualizerService]({{&lt; relref &quot;catel-mvvm/services/ui-visualizer-service.md&quot; &gt;}}) has been modified in terms of how <code>Close</code> events are handled. Currently, a non-generic <code>EventHandler</code> is utilized; this would present a problem if a window other than <code>DataWindow</code> is utilized and the <code>Close</code> event handler is generic; a simple cast from <code>EventHandler</code> to <code>EventHandler&lt;&gt;</code> is not possible without reflection. For our example here, the <code>RadWindow</code> utilizes <code>EventHandler&lt;WindowClosedEventArgs&gt;</code>. In order to be able to utilize <code>UIVisualizerService</code> without any exception, the <code>HandleCloseSubscription</code> will need to be overridden. See example below:</p>
<pre><code>public class CustomUIVisualService : UIVisualizerService, ICustomUIVisualizerService
{
  private readonly IViewLocator _viewLocator;

  public CustomUIVisualService(IViewLocator viewLocator) 
      : base(viewLocator)
  {
      this._viewLocator = viewLocator;
  }        

  protected override void HandleCloseSubscription(object window, object data, EventHandler&lt;UICompletedEventArgs&gt; completedProc, bool isModal)
  {
      var eventInfo = window.GetType().GetEvent(&quot;Closed&quot;);
      var addMethod = eventInfo?.AddMethod;

      if (addMethod != null)
      {
          EventHandler&lt;WindowClosedEventArgs&gt; eventHandler = null;
          void Closed(object s, EventArgs e)
          {
              if (!ReferenceEquals(window, s))
              {
                  // Fix for https://github.com/Catel/Catel/issues/1074
                  return;
              }

              bool? dialogResult;
              PropertyHelper.TryGetPropertyValue(window, &quot;DialogResult&quot;, out dialogResult);

              try
              {
                  completedProc(this, new UICompletedEventArgs(data, isModal ? dialogResult : null));
              }
              finally
              {
                  var removeMethod = eventInfo.RemoveMethod;
                  if (removeMethod != null)
                  {
                      removeMethod.Invoke(window, new object[] { eventHandler });
                  }
              }
         }

        eventHandler = Closed;
        addMethod.Invoke(window, new object[] { eventHandler });
    }
  }
}
</code></pre>
<p>We have basically created a new class named <code>CustomUIVisualizerService</code> which inherits from <code>UIVisualizerService</code> and then have overridden the <code>HandleCloseSubscription</code>. If you peek into the base method definition you will see that the only change is from <code>EventHandler</code> to <code>EventHandler&lt;WindowClosedEventArgs&gt;</code>.</p>
<p>The <code>ICustomUIVisualizerService</code> interface is only a convenience interface to allow for service injection:</p>
<pre><code>public interface ICustomUIVisualizerService : IUIVisualizerService
{
}
</code></pre>
<p>this will need to be registered with the service collection to be utilized correctly:</p>
<pre><code class="lang-csharp">services.AddSingleton&lt;ICustomUIVisualizerService, CustomUIVisualizerService&gt;();
</code></pre>
<h2 id="using-the-class">Using the class</h2>
<p>The class can now be used the same as the <code>DataWindow</code> class. For more information, see [Window and DataWindow]({{&lt; relref &quot;catel-mvvm/views/xaml/window-and-datawindow.md&quot; &gt;}}).</p>

</article>

        <div class="contribution d-print-none">
          <a href="https://github.com/catel/catel/blob/develop/doc/docfx/7.x/catel-mvvm/views/xaml/external-controls/using-custom-window.md/#L1" class="edit-link">Edit this page</a>
        </div>

        <div class="next-article d-print-none border-top" id="nextArticle"></div>

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    <div class="container-xxl search-results" id="search-results"></div>

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          Catel is an application development platform with the focus on MVVM.
        </div>
      </div>
    </footer>
  </body>
</html>
