<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Costura.Fody" version="0.5.3.0" targetFramework="net45" />
  <package id="Fody" version="1.18.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.5.3" targetFramework="net45" />
  <package id="NuGet.Core" version="2.7.2" targetFramework="net45" />
  <package id="Obsolete.Fody" version="3.0.0.0" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
</packages>