<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.2.0-Unstable0008" targetFramework="net40-Client" developmentDependency="true" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net40-Client" />
  <package id="Fody" version="1.22.1" targetFramework="net40-Client" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net40-Client" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net40-Client" developmentDependency="true" />
</packages>