<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net46" developmentDependency="true" />
  <package id="Catel.Fody" version="2.17.0" targetFramework="net46" developmentDependency="true" />
  <package id="Fody" version="2.1.2" targetFramework="net46" developmentDependency="true" />
  <package id="MethodTimer.Fody" version="1.19.1" targetFramework="net46" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.6.0" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net46" />
  <package id="Obsolete.Fody" version="4.2.4" targetFramework="net46" developmentDependency="true" />
  <package id="WpfAnalyzers" version="0.2.7.10" targetFramework="net46" developmentDependency="true" />
</packages>