<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1406062245-beta" targetFramework="sl50" />
  <package id="Catel.Fody" version="2.0.0" targetFramework="sl50" developmentDependency="true" />
  <package id="Fody" version="1.22.1" targetFramework="sl50" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="sl50" developmentDependency="true" />
</packages>