<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.5.0-unstable0001" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Fody" version="1.27.0-beta01" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="portable-net403+sl50+win+wpa81+wp80+MonoAndroid10+MonoTouch10" developmentDependency="true" />
</packages>