<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Fody" version="2.14.0" targetFramework="monoandroid403" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="monoandroid403" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.9.0" targetFramework="monoandroid403" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid403" />
  <package id="Obsolete.Fody" version="4.1.0" targetFramework="monoandroid403" developmentDependency="true" />
</packages>