name: Build and test

on:
  push:
    branches:
      - develop
      - master
  pull_request:
  
#permissions:
  #pull-requests: write
  #contents: write

jobs:
  build-and-test:
    runs-on: windows-latest # Required for some (WPF) projects
  
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        id: checkout
        with:
          fetch-depth: 0
          
      - name: Setup .NET Core
        id: setup-dotnet
        uses: actions/setup-dotnet@3951f0dfe7a07e2313ec93c75700083e2005cbab # v4.3.0
        with:
          dotnet-version: '9.0.x'    
    
      - name: Cake Action
        id: cake-action
        uses: cake-build/cake-action@5167c3f6a9e15c76f009de2acdfb9488552bc0b9 #v3.0.0
        with:
          target: BuildAndTest
          arguments: |
            IsCiBuild: true